.login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loginForm {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.formLabel {
  margin-right: 10px;
}
